html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    height: 100%; /* Garante que o gradiente cubra toda a página */
    background: linear-gradient(to bottom, #161616, #000000);
    background-attachment: fixed; /* Mantém o gradiente fixo */
}


.textPortfolio {
    color: white;
    font-size: 2.8vw;
}

.gallery {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 3%;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    padding: 2%;
}


.gallery img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* page1 */

.page-content {
    text-align: center;
    margin-top: 1%;
}

button {
    background-color: #007bff;
    color: white;
    padding: 1% 2%;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


/* paginas */

.paginas {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 3%;
}

.paginas img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    padding: 1%;
}

.link-container {
    position: relative;
    display: inline-block;
}

.link-container .linkhub {
    position: absolute;
    top: 55%; /* Centraliza na vertical */
    right: 60%; /* Centraliza na horizontal */
    transform: translate(-50%, -50%); /* Garante que o link fique no centro da imagem */
    font-size: 1.5vw;
    color: white; /* Ajuste a cor conforme necessário */    
}

.link-container .linkapp {
    position: absolute;
    top: 55%; /* Centraliza na vertical */
    right: 54%; /* Centraliza na horizontal */
    transform: translate(-50%, -50%); /* Garante que o link fique no centro da imagem */
    font-size: 1.5vw;
    color: white; /* Ajuste a cor conforme necessário */ 
}